<a href="https://colab.research.google.com/github/sohee-han-36/Repo/blob/main/n134a_%ED%95%9C%EC%86%8C%ED%9D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 4*

# üìù Assignment

# Breast Cancer Clustering

## 1. ÏïÑÎûòÏùò Ï£ºÏÜåÎ•º Ï∞∏Ï°∞ÌïòÏó¨, Îç∞Ïù¥ÌÑ∞Î•º `df`Ïóê Ï§ÄÎπÑÌïòÏÑ∏Ïöî.

<https://www.kaggle.com/uciml/breast-cancer-wisconsin-data>

- FeatureÎßàÎã§ scaleÏù¥ Îã§Î•¥Í∏∞ ÎïåÎ¨∏Ïóê `StandardScaler`Î•º Ï†ÅÏö©Ìï¥ÏïºÌï©ÎãàÎã§.
- Ïù¥ÌõÑ,  "diagnosis"Ïóê ÏûàÎäî label Îç∞Ïù¥ÌÑ∞Î•º Îî∞Î°ú `label`Ïù¥ÎùºÎäî Î≥ÄÏàòÎ°ú ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.
- "diagnosis"Î•º Ï†úÍ±∞Ìïú ÎÇòÎ®∏ÏßÄ Îç∞Ïù¥ÌÑ∞Î•º ÏÇ¨Ïö©ÌïòÏó¨ k-means clusteringÏùÑ ÌïòÎ©∞, 
- `n_clusters = 2`, `random_state = 42`Î•º Ï†úÏô∏Ìïú Îã§Î•∏ parameterÎäî default optionÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans 
from sklearn.preprocessing import StandardScaler 

# read data as df
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [3]:
data=pd.read_csv('data.csv')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB
None

In [4]:
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [6]:
# Í∞ÑÎã®Ìïú feature Ïä§ÏºÄÏùºÎßÅ ÏßÑÌñâ 

data.drop(['id','Unnamed: 32'],axis=1,inplace=True)

In [9]:
# Standard Scaler

scaler=StandardScaler()

# 'diagnosis'Î•º Ï†úÏô∏Ìïú ÎÇòÎ®∏ÏßÄ FeatureÏóê ÎåÄÌïú standard SclerÎ•º ÏàòÌñâÌï¥Ïïº ÌïòÎØÄÎ°ú, Î≤îÏúÑ([1:32]) ÏßÄÏ†ïÌï¥ ÏàòÌñâ
df=pd.DataFrame(scaler.fit_transform(data.iloc[:,1:32]))

# columns Í∞í ÏßÄÏ†ï
df.columns=list(data.iloc[:,1:32])

# Ïûò ÏàòÌñâÎêòÏóàÎäîÏßÄ ÌôïÏù∏
df.head()

   radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0     1.097064     -2.073335  ...        2.750622                 1.937015
1     1.829821     -0.353632  ...       -0.243890                 0.281190
2     1.579888      0.456187  ...        1.152255                 0.201391
3    -0.768909      0.253732  ...        6.046041                 4.935010
4     1.750297     -1.151816  ...       -0.868353                -0.397100

[5 rows x 30 columns]

### InertiaÎûÄ? (Í∞úÎÖêÏ†ïÎ¶¨)

InertiaÎäî Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞Ïùò Ï§ëÏã¨Ïù∏ centroidÏôÄ Í∞Å Îç∞Ïù¥ÌÑ∞Îì§ ÏÇ¨Ïù¥Ïùò Í±∞Î¶¨Î•º ÎÇòÌÉÄÎÇ∏Îã§.

InertiaÍ∞Ä ÎÇÆÏùÄ Í∑∏Î£πÏùÑ ‚ÄòÏ¢ãÏùÄ‚Äô Í∑∏Î£πÏù¥Îùº Ìï† Ïàò ÏûàÍ≥†, Ïù¥Îü¨Ìïú Í∑∏Î£πÏùÑ Ï†ÅÍ≤å ÎßåÎì§ÏàòÎ°ù Ï¢ãÏùÄ Î™®Îç∏Ïù¥ÎùºÍ≥† Ìï† Ïàò ÏûàÎã§.

In [12]:
#ÌÅ¥Îü¨Ïä§ÌÑ∞ Ïàò(K) ÏÑ†ÌÉù

sum_of_squared_distances=[]

for k in range(1,15):
  km = KMeans(n_clusters=k)

  # kÍ∞úÏùò ÌÅ¥Îü¨Ïä§ÌÑ∞ Ï†ÅÏö©
  km = km.fit(df)

  # inertia_Í∞íÏùÑ 'sum_of_squared_distances' Î¶¨Ïä§Ìä∏Ïóê append
  sum_of_squared_distances.append(km.inertia_)

In [11]:
sum_of_squared_distances

[17070.0,
 11595.461473962347,
 10061.797818243695,
 9331.967113601011,
 8558.052481390609,
 7962.790166874916,
 7547.081710119173,
 7195.253967269561,
 6911.475687041892,
 6611.716631679784,
 6408.9563521860155,
 6239.199262201643,
 6050.7152215528895,
 5932.440060565637]

In [13]:
# n_clusters = 2, random_state = 42Î•º Ï†úÏô∏Ìïú Îã§Î•∏ parameterÎäî default optionÏùÑ ÏÇ¨Ïö©Ìï¥ ÌÅ¥Îü¨Ïä§ÌÑ∞ ÏàòÌñâ
km = KMeans(n_clusters=2,random_state=42)
km.fit_transform(df)

array([[ 7.35881406, 12.6745093 ],
       [ 4.95407337,  6.4702011 ],
       [ 2.58422403,  8.24320012],
       ...,
       [ 4.78038075,  5.04831127],
       [ 7.1463606 , 13.21676765],
       [10.68003843,  5.32581901]])

## 2. ÏõêÎûò Îç∞Ïù¥ÌÑ∞Ïùò labelÍ≥º, clustering Ïù¥ÌõÑÏùò ÎùºÎ≤®ÏùÑ ÎπÑÍµêÌïòÏó¨ accuracyÎ•º Ï∏°Ï†ïÌïòÍ≥† Í≤∞Í≥ºÎ•º `Acc`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. 

- Acc = Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ Ï§ë ÎùºÎ≤®Ïù¥ ÏùºÏπòÌïòÎäî Îç∞Ïù¥ÌÑ∞ Ïàò ÏûÖÎãàÎã§.

ex)

|ÏõêÎûò ÎùºÎ≤®|cluster Ïù¥ÌõÑ label|
|:-:|:-:|
|A|A|
|A|B|
|A|A|
|B|B|
|B|B|
|B|A|

accuracy = $(2 + 2) \over 6$

Ïù¥Îïå ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ï∞∏Í≥†ÌïòÏó¨ `0`Í≥º `1`Î°ú ÏûàÎäîÎç∞Ïù¥ÌÑ∞Î•º `M`Í≥º `B`Î°ú Î∞îÍøîÏÑú ÏûëÏóÖÌïòÎ©¥ Ï¢ãÏäµÎãàÎã§. 

```python
label2 = label2.replace(0,'M')
label2 = label2.replace(1,'B')
```

In [37]:
# ÌÅ¥Îü¨Ïä§ÌÑ∞ Í≤∞Í≥º Ï†ÄÏû• Î∞è ÌôïÏù∏

label =  pd.DataFrame(data['diagnosis'])
label['pred'] = pd.Series(km.labels_).values
label.head()

  diagnosis  pred
0         M     0
1         M     0
2         M     0
3         M     0
4         M     0

In [38]:
label2 = label.replace('M',0)
label2 = label2.replace('B',1)

In [40]:
Acc = (label2['pred'] == label2['diagnosis']).mean()
Acc

0.9050966608084359

## Grading

Ïù¥Ï†Ñ Í≥ºÏ†úÎ•º ÏôÑÎ£åÌñàÎã§Î©¥, ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ïã§ÌñâÌïòÏÑ∏Ïöî.

In [41]:
def grade(Acc):
  score = 0
  score += (round(Acc, 4) == 0.9104)  
  return score

In [42]:
grade(Acc)

0

# üî• ÎèÑÏ†Ñ Í≥ºÏ†ú

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ hierarchical clusteringÏùÑ breast cancer datasetÏóê Ï†ÅÏö©ÌïòÍ≥†, Í∑∏ Í≤∞Í≥ºÎ•º ÏãúÍ∞ÅÌôîÌïòÏÑ∏Ïöî.

<https://scikit-learn.org/stable/modules/clustering.html#hierarchical-clustering>